<div class='container'>
<h1>Welcome to {{#link-to 'home'}}Ask Away{{/link-to}}</h1>
{{#if session.isAuthenticated}}
  <h3>{{#link-to 'polls.new'}}Make a new poll{{/link-to}}</h3>
  <h3>{{#link-to 'polls.index'}}All polls{{/link-to}}</h3>
  <p>{{currentUser.votes.length}}</p>
  <p><a {{ action 'invalidateSession' }} href='#'>Logout</a></p>
{{else}}
  <p>{{#link-to 'login'}}Sign in{{/link-to}}</p>
  <p>{{#link-to 'sign_up'}}Sign up{{/link-to}}</p>
{{/if}}
{{outlet}}
</div>
